@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #176273;
    color:white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


p, h1, h2{
    text-align: justify;
    padding: 10px;
}